<div class="col-md-12">
	<h1>Add a novel</h1>
	<form name="addNewNovelForm" class="form-horizontal" ng-submit="NNC.saveNewBook()">
		<div class="form-group">
			<label for="title" class="col-md-2 control-label">Title:</label>
			<div class="col-sm-6 col-md-4">
				<input type="text"
				ng-model="NNC.novelToAdd.title" id="title" name="title" placeholder="Title" class="input-sm form-control"
					required/>
			</div>
			<div ng-messages="addNewNovelForm.title.$error" class="col-sm-2 error-message" role="alert">
				<div ng-message="required">This field is required</div>
			</div>
		</div>
		<div class="form-group">
			<label for="author" class="col-md-2 control-label">Author:</label>
			<div class="col-sm-6 col-md-4">
				<input type="text"
				ng-model="NNC.novelToAdd.author" id="author" name="author" placeholder="Author" class="input-sm form-control"
					required/>
			</div>
			<div ng-messages="addNewNovelForm.author.$error" class="col-sm-2 error-message" role="alert">
				<div ng-message="required">This field is required</div>
			</div>
		</div>
		<div class="form-group">
			<label for="published" class="col-md-2 control-label">Publishing-Year:</label>
			<div class="col-sm-6 col-md-4">
				<input type="text" ng-model="NNC.novelToAdd.published"
					   id="published" name="published" placeholder="YYYY" class="input-sm form-control"
					   novels-valid-a-d-year
					   required/>
			</div>
			<div ng-messages="addNewNovelForm.published.$error" class="col-sm-2 error-message" role="alert">
				<div ng-message="required">This field is required</div>
				<div ng-message="novelsValidADYear">Must be a valid year</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-6">
				<button name="createButton" type="button" class="pull-right btn btn-link"
						ng-click="NNC.showDetails = !NNC.showDetails">
					<span class="glyphicon {{NNC.showDetails ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'}} ">
					</span>&nbsp;Add Details
				</button>
			</div>
		</div>
		<div ng-show="NNC.showDetails">
			<div class="form-group">
				<label for="settingStart" class="col-md-2 control-label">Setting (from-to):</label>
				<div class="col-sm-1AndAHalf col-sm-2 col-half-padding-right">
					<input type="text" novels-valid-a-d-year
						   ng-model="NNC.novelToAdd.settingStart" id="settingStart" name="settingStart" placeholder="YYYY"
						   class="inline-input-field input-sm form-control"/>
				</div>
				<div class="col-sm-1 col-sm-1AndAHalf col-sm-2 col-half-padding-left">
					<input type="text" novels-valid-a-d-year
					ng-model="NNC.novelToAdd.settingEnd" id="settingEnd" name="settingEnd" placeholder="YYYY" class="input-sm form-control inline-input-field"
					/>
				</div>
				<div class="col-sm-2">
					<div ng-messages="addNewNovelForm.settingStart.$error" class="error-message" role="alert">
						<div ng-message="novelsValidADYear">Must be a valid year</div>
					</div>
					<div ng-messages="addNewNovelForm.settingEnd.$error" ng-show="!addNewNovelForm.settingStart.$invalid" class="error-message" role="alert">
						<div ng-message="novelsValidADYear">Must be a valid year</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="completed" class="col-md-2 control-label">Completed work:</label>
				<div class="col-sm-3">
	                <select class="form-control input-sm" id="completed" name="completed"
	                        data-ng-model="NNC.novelToAdd.completed">
	                    <option selected value="Y">Yes</option>
	                    <option value="N">No</option>
	                </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Original language:</label>
				<div class="col-sm-3">
					<input type="radio" ng-model="NNC.novelToAdd.language" value="FR">French
					<input type="radio" ng-model="NNC.novelToAdd.language" value="EN">English
					<input type="radio" ng-model="NNC.novelToAdd.language" value="O">Other
				</div>
			</div>
			<div class="form-group">
				<label for="link" class="col-md-2 control-label">Download link:</label>
				<div class="col-sm-3">
					<input type="url"
						   ng-model="NNC.novelToAdd.link" id="link"
						   name="link" placeholder="{{NNC.urlPlaceholder}}"
						   title="If the work is in the public domain, please provide a link where it can be downloaded if you can!"
						   class="input-sm form-control"/>
				</div>
				<div ng-messages="addNewNovelForm.link.$error" class="col-sm-2 error-message" role="alert">
					<div ng-message="url">Must be a valid url</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-8">
				<button name="createButton" type="submit"
						class="btn btn-default"
						ng-disabled="addNewNovelForm.$invalid" >
					<span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save
				</button>
				<button name="resetButton" type="button"
						data-ng-click="NNC.resetNovelForm()"
						class="btn btn-default">
					<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Reset
				</button>
			</div>
		</div>
	</form>
</div>