<div class="col-md-6 col-sm-10 long-text">
    <p>Welcome!</p>
    <p>
        This site aims to collect the historical novels of Alexandre Dumas (père), and make them easily searchable by the real historical characters that appear in them.</p>
    <p>
        This was brought up by the realisation of how often characters from the more well known novels appear in the lesser known works, and are often shown in a somewhat different light; for instances, the Richelieu who appears in Le Comte de Moret reads a bit like a take-down of the very portrayal that Dumas made particularly popular to this day with The Three Musketeers.
    </p>
    <p>
        While the Dumas novels are my starting point, other historical fiction will later be added as well. My main source for the entered data is the site <a href="http://dumaspere.com/">dumaspere.com</a>
    </p>
    <p>
        <a ui-sref=".criteria" class="btn btn-link">Criteria for adding characters to novels.</a>
    </p>
    <div ui-view="criteria"></div>
</div>
