<h3>General rules for adding new books or characters</h3>
<a ui-sref="^">Close</a>
<ul>
    <li>Only characters which are more historical than fictional will added (addition of new characters is currently not possible over the web-form); what this means is that a characters that is based on a real historical person, but about whose real life we know almost nothing will not be included; for instances, the Musketeers from Dumas' Three Musketeers will not be included, but Cardinal Richelieu will</li>
    <li>Characters should be added to a novel if they have at least one prominent. A character who has a very strong presence (their actions during the course of the novel are often talked about by other characters or/and clearly affect the plot can also be included)</li>
    <li>In case of serials, the publishing year should be the year the last chapter of the book was first available</li>
</ul>
